@using Framework
@using Microsoft.Ajax.Utilities
@model IEnumerable<Node>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRoot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perspective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentNode)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRoot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perspective.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentNode.Name)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdNode }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdNode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdNode })
        </td>
    </tr>
}

</table>
