@model Octant.Models.Interview.Firm

@{
    ViewBag.Title = "Firm " + Model.Name + " Edit";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-bar-chart"></i> Octant</a></li>
        <li><a href="@Url.Action("Index", "Firms")">Firms</a></li>
        <li><a href="@Url.Action("Details", "Firms", new { id = Model.IdFirm })">@Model.Name</a></li>
        <li class="active">Edit</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Firm</h3>
                </div><!-- /.box-header -->
                <form method="post" action="@Url.Action("Edit", "Firms", new { id = Model.IdFirm })" role="form" enctype="multipart/form-data" class="form-horizontal">
                    <div class="box-body">

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.IdFirm)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-7">
                                @Html.TextAreaFor(model => model.Description, 5, 80, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-7">
                                @Html.TextAreaFor(model => model.Comment, 5, 80, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div>
                            <div class="control-label col-md-2">Image</div>
                            <div class="col-md-7">
                                <img src="@ViewData["image"]" width="100" height="100" class="img-responsive"/>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-7">
                                    <input type="file" name="fileBase" />
                                </div>
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
                    </div><!-- /.box-footer -->
                </form>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!-- Change the active in the left side menu -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('ul.sidebar-menu > li').removeClass('active');
            $('ul.sidebar-menu > li > a[href="/Firms"]').parent().addClass('active');
        });
    </script>
}
