@model Interview.Customer

@{
    ViewBag.Title = "Create";
}

@*<link href="~/Content/jquery-ui-1.10.4.min.css" rel="stylesheet" />*@

@*<h2>Create</h2>*@


@using (Html.BeginForm("Create", "Customers", FormMethod.Post,
    new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) 
{
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-bar-chart"></i> Octant</a></li>
            <li><a href="@Url.Action("Index", "Customers")">Customers</a></li>
            <li class="active">Create</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <form method="post" action="@Url.Action("Create", "Customers")" role="form" class="form-horizontal">
                        <div class="box-header with-border">
                            @*<h3 class="box-title">Create Customer</h3>*@
                            <input type="submit" value="Create" class="btn btn-primary" data-toggle="tooltip" title="Create new Customer" />
                        </div><!-- /.box-header -->
                        <div class="box-body">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IdIndustry, "Industry", htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-7">
                                    @Html.DropDownList("IdIndustry", null, "[--Please select--]", htmlAttributes: new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.IdIndustry, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-7">
                                    @Html.TextAreaFor(model => model.Description, 5, 80, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Comment, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-7">
                                    @Html.TextAreaFor(model => model.Comment, 5, 80, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Comment, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">Image</div>
                                    <div class="col-md-7">
                                        <input type="file" name="fileBase"/>
                                    </div>
                                </div>
                            </div>

                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <input type="submit" value="Create" class="btn btn-primary" data-toggle="tooltip" title="Create new Customer"/>
                            @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-default"})
                        </div><!-- /.box-footer -->
                    </form>
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    <!-- Change the active in the left side menu -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('ul.sidebar-menu > li').removeClass('active');
            $('ul.sidebar-menu > li > a[href="/Customers"]').parent().addClass('active');
        });
    </script>
}
