@model Framework.CustomScore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomScore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUsers.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUsers.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Node.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Node.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Cancel", "Index")
</p>
